<div class="card">
  <div class="card-header">
    CREACION DE CLIENTE
  </div>
  <div class="card-body">
    <div class="row">
      
      <div class="col-12">
        <form  [formGroup]="formulario">

      <div class="mb-3-row">
       <label for="staticCodigo" class="col-sm-2 col-form-label">ID:</label>
        <div class="col-sm-10">
         <input type="text" class="form-control" formControlName="id">
         <span class="text-danger" *ngIf="formulario.controls['id'].errors?.['required']">Valor Requerido</span> <br>
         <span class="text-danger" *ngIf="formulario.controls['id'].errors?.['codigoValidate']">Formato no válido</span>
        
        </div>
      </div>

      <div class="mb-3-row">
        <label for="staticCodigo" class="col-sm-2 col-form-label">Nombre:</label>
         <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="nombre" >
         </div>
       </div>


       <div class="mb-3-row">
        <label for="staticCodigo" class="col-sm-2 col-form-label">Apellido:</label>
         <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="apellido">
         </div>
       </div>





       <div class="mb-3-row">
        <label for="staticCodigo" class="col-sm-2 col-form-label">Password:</label>
         <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="password" >
         </div>
       </div>

       <div class="mb-3-row">
        <label for="staticCodigo" class="col-sm-2 col-form-label">Teléfono:</label>
         <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="telefono">
         </div>
       </div>


       <div class="mb-3-row">
        <label for="staticCodigo" class="col-sm-2 col-form-label">Email:</label>
         <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="email">
         </div>
       </div>

       </form>

       <div class="row">
        <button class="btn btn-info" (click)="guardarCliente()">GUARDAR</button>
      </div>
